* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1522199710521-72d69614c702') no-repeat center center/cover;
}

.glass-container {
    color: #fff;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    width: 320px;
    padding: 40px 30px;
    box-shadow: 0px 5px 32px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.glass-container h2 {
    text-align: center;
    margin-bottom: 25px;
}

.glass-container input {
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 12px;
    color: #fff;
    border-radius: 8px;
}

.glass-container input::placeholder {
    color: #eee;
}

.glass-container button {
    color: #fff;
    border: none;
    width: 100%;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition:background-color 0.3s ease;
}

.glass-container button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}