body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.nav{
    background-color: #333;
    padding:15px;
}
.nav a {
    display:inline-block;
    font-size:18px;
    color:white;
    text-decoration : none;
}