body{
    display:flex;
    gap:20px;
    justify-content:center;
    align-items:center;
    height:80vh;
    background-color:#f4f4f4;
}
    button{
    padding:10px 15px;
    font-size:15px;
    border:none;
    transition:all 0.3s ease-in-out;
    cursor:pointer;
}
.rounded {
    border-radius:50px;
    background-color:#007bff;
    color:white;
}
.hover{
    background-color:#28a745;
    color:white;
}
.hover:hover{
    background-color:darkgreen;
}
.shadow{
    background-color:#ff5733;
    color:white;
    box-shadow:4px 4px 10px rgba(0,0,0,0.25);
}
.shadow:hover{
    box-shadow:6px 6px 15px rgba(0,0,0,0.35);
}