body {
    background: linear-gradient(to right, lightblue, lightgreen);
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    text-align: center;
    background: linear-gradient(to right, lightyellow, green);
    padding: 30px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

input,
select {
    width: 75%;
    margin: 10px 0;
    padding: 10px;
}

select {
    width: 50
}

button {
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 20px;
    border: none;
    font-size: 16px;
    background: linear-gradient(to left, yellow, green)
}

#total {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}