body {
    display:flex;
    color: #fff;
    font-family: Arial, sans-serif;
    background: #222;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin:0px;
}
#clock{
    font-size:4rem;
}