body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 40px;
}

.pricing {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* flex-wrap:wrap; */
}

.plan {
    background: white;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
}

.plan h3 {
    font-size: 24px;
    margin: 0 0 10px;
    color: #333;
}

.plan .price {
    font-size: 32px;
    color: #007bff;
    margin: 0 0 20px;
}

.plan ul {
    list-style: none;
    padding: 0px;
    margin: 0 0 20px;
}

.plan li {
    color: #666;
    margin: 10px 0;
    font-size: 16px;
}

.plan button {
    border: none;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    transition: transform 0.2s;
}

.plan button:hover {
    transform: scale(1.05);
}