body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
}

.card {
    background: white;
    border-radius: 10px;
    text-align: center;
    max-width: 350px;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    transition: transform 0.35s ease-in-out;
}

.card:hover {
    transform: scale(1.15);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.card-content p {
    color: #555;
    font-size: 14px;
}

.card button {
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #0056b3;
}

@media (max-width:400px) {
    .card {
        max-width: 90%;
    }
}