@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=M+PLUS+Code+Latin:wght@100..700&display=swap');

body {
    background: green;
    color: white;
    font-family: 'Bitcount Single', sans-serif;
    font-size: 25px;
}