body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    height: 90vh;
}

.gradient-button {
    padding: 15px 20px;
    font-size: 19px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    border: none;
    text-transform: uppercase;

}