body {
    margin: 0px;
    font-family: arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
}