body{
    margin:0px;
    font-family:arial,sans-serif;
    height:95vh ;
    display:flex;
    flex-direction:column;
}
header{
    background-color:#343a40;
    color:white;
    padding:20px;
    text-align:center;
}
main{
    text-align:center;
}
footer{
    background-color:#343a40;
    color:white;
    text-align:center;
    padding:10px;
}