body {
    font-family: Arial, sans-serif;
    background: #222;
    color: #fff;
    display: flex;
    height: 100vh;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
#clock{
    font-size:50px;
}