* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: arial, sans-serif;
}

.navbar {
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    background: #333;
    position: fixed;
    width: 100%;
    /* top:0px; */
    color: white;
    /* left:0px; */
}

.nav-links {
    gap: 20px;
    display: flex;
    list-style: none;
}

.nav-links li {
    position: relative;
}
.nav-links a {
    color:white;
    text-decoration:none;
    display:block;
    padding:8px 12px;
} 
.dropdown-menu{
    
}