*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}
body{
    font-family:sans-serif;
    line-height:1.6;
    background:#e9e7e7;
    /* text-align:center; */
}
.container{
    display:flex;
    padding:20px;
}
.sidebar{
    top:20px;
    background:#ffffff;
    padding:20px;
    position:sticky;
    border-radius:12px;
    height:fit-content;
    width:200px;
    margin-right:20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.sidebar ul{
    list-style:none;
}
.sidebar a {
    text-decoration:none;
    color:#333;
    display:block;
    margin-bottom:10px;
}
.content{
    flex:1; 
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    padding:20px;   
    background:#fff;
    border-radius:12px;
    min-height:1000px;
}
.scroll-content p{
    margin-bottom:20px;
}